.icon--clear-view-escapes {
	width: 142.4px;
	height: 59.53px;
	background-image: url('/temp/sprite/css/svg/sprite.css-69f19c2e.svg');
	background-position: ;
}
.icon--comment {
	width: 64px;
	height: 64px;
	background-image: url('/temp/sprite/css/svg/sprite.css-69f19c2e.svg');
	background-position: ;
}
.icon--facebook {
	width: 21.23px;
	height: 42.01px;
	background-image: url('/temp/sprite/css/svg/sprite.css-69f19c2e.svg');
	background-position: ;
}
.icon--fire {
	width: 56px;
	height: 64px;
	background-image: url('/temp/sprite/css/svg/sprite.css-69f19c2e.svg');
	background-position: ;
}
.icon--globe {
	width: 64px;
	height: 64px;
	background-image: url('/temp/sprite/css/svg/sprite.css-69f19c2e.svg');
	background-position: ;
}
.icon--instagram {
	width: 42.01px;
	height: 42.01px;
	background-image: url('/temp/sprite/css/svg/sprite.css-69f19c2e.svg');
	background-position: ;
}
.icon--mail {
	width: 64px;
	height: 48px;
	background-image: url('/temp/sprite/css/svg/sprite.css-69f19c2e.svg');
	background-position: ;
}
.icon--rain {
	width: 64px;
	height: 64px;
	background-image: url('/temp/sprite/css/svg/sprite.css-69f19c2e.svg');
	background-position: ;
}
.icon--star {
	width: 64px;
	height: 64px;
	background-image: url('/temp/sprite/css/svg/sprite.css-69f19c2e.svg');
	background-position: ;
}
.icon--twitter {
	width: 51.78px;
	height: 42.06px;
	background-image: url('/temp/sprite/css/svg/sprite.css-69f19c2e.svg');
	background-position: ;
}
.icon--wifi {
	width: 60px;
	height: 64px;
	background-image: url('/temp/sprite/css/svg/sprite.css-69f19c2e.svg');
	background-position: ;
}
.icon--youtube {
	width: 34.75px;
	height: 42px;
	background-image: url('/temp/sprite/css/svg/sprite.css-69f19c2e.svg');
	background-position: ;
}
